.searchResultsInfoWrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 17px;
}

.searchInfoText {
  font-size: 22px;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
.totalMovies {
  font-weight: 500;
  min-width: 97px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .searchInfoText {
    font-size: 18px;
  }
}
