.movieCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 245px;
  align-items: center;
}

.placeholderWrapper {
  width: 245px;
  height: 270px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moviePosterWrapper {
  height: 270px;
  width: 180px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
}

.moviePoster {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movieInfoWrapper {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 5px;
  margin: 0 13px;
}

@media (max-width: 1024px) {
  .movieInfoWrapper {
    align-items: center;
    text-align: center;
  }
}
