.spinner {
  transform-origin: center;
  animation: spin 1s infinite linear;
  shape-rendering: 'auto';
  background: rgb(255, 255, 255);
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
