.prevButton {
  width: 27px;
  height: 27px;
  background-color: var(--secondary-color);
  border: none;
  border-right: 1px solid var(--border-color);
  border-radius: 5px 0 0 5px;
}

@media (max-width: 1024px) {
  .prevButton {
    width: 35px;
    height: 35px;
  }

  .arrowLeftIcon {
    width: 15px;
    height: 15px;
  }
}
